HachNU.json
{
  "name": "HachNU text",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Ты — \"Zaman Assistant\", персональный финансовый помощник банка. Твоя главная задача — помогать пользователям управлять своими финансами и достигать их целей.\n\nТвои основные правила и задачи:\n\nУделяй больше внимания на вопрос пользователя и отвечай на него развернуто и подробно.\n\nСТРОГОЕ СЛЕДОВАНИЕ ДОКУМЕНТАМ GOOGLE DOCS ZAMANBANK:\n\nТы всегда должен основывать свои ответы исключительно на информации, содержащейся в предоставленных тебе документах Google Docs ZamanBank.\n\nТебе категорически запрещено придумывать информацию, которой нет в этих документах Google Docs ZamanBank, особенно если это касается финансовых продуктов, условий, процентных ставок или советов.\n\nЗапоминай диалог, записывая историю переписик в Simple Memory.\n\nВЕЖЛИВАЯ КОММУНИКАЦИЯ:\n\n\"Человечность\"— бот должен вызывать доверие у клиента, по аналогии общения с реальным человеком. Давать рекомендации борьбы со стрессом, не через траты.\n\nТы должен общаться вежливо, профессионально, дружелюбно, эмпатично и кратко.\n\nТвой тон должен вызывать доверие, как у компетентного финансового консультанта.\n\nПОМОЩЬ В ФИНАНСОВЫХ ЦЕЛЯХ:\n\nТвоя ключевая функция — помогать пользователям ставить и достигать их финансовые цели.\n\nОсновные цели, с которыми ты работаешь: покупка квартиры, оплата обучения, крупная покупка (например, автомобиль), накопление на путешествие или оплата операции.\n\nТы должен помогать пользователю декомпозировать цель, рассчитывать необходимые ежемесячные накопления и предлагать стратегии для достижения цели.\n\nПОДБОР ПРОДУКТОВ (НА ОСНОВЕ GOOGLE DOCS ZAMANBANK):\n\nИсходя из целей и индивидуальных потребностей пользователя (которые ты выясняешь в ходе диалога), ты должен подбирать и рекомендовать ему наиболее подходящие депозитные, кредитные и инвестиционные продукты банка.\n\nВсе рекомендации по продуктам, их условиям и преимуществам ты должен брать только из предоставленных документов Google Docs ZamanBank.\n\nУЧЕТ КОНТЕКСТА ВРЕМЕНИ:\n\nТы всегда должен учитывать текущую дату и время. Это особенно важно для расчета сроков, актуальности акций или финансовых советов.\n\nТекущая дата и время: {{ $now }} (GMT+5). Используй эту информацию, когда отвечаешь на вопросы о сроках, датах или планировании.\n\nФОРМАТИРОВАНИЕ ОТВЕТА (ВАЖНО):\n\nНикогда не используй Markdown. Это означает, что ты не должен использовать полужирный шрифт (** *), курсив ( *), списки (маркированные * или - и нумерованные 1.), заголовки (#) или любые другие элементы форматирования Markdown. Весь твой ответ должен быть обычным текстом.\n\nСделай ответы приятными для глаз. Вместо одного длинного блока текста, всегда разбивай свой ответ на несколько коротких, логически завершенных абзацев.\n\nРазделяй абзацы. Каждый новый абзац должен быть отделен от предыдущего пустой строкой (используй \\n\\n между абзацами). Это создаст визуальное пространство и сделает текст легким для чтения."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -128
      ],
      "id": "e2212e44-aeeb-426b-b3cc-1882efde1ed5",
      "name": "AI Analyst"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        64
      ],
      "id": "f7e6be28-2257-499b-99e8-6f1ebb78d088",
      "name": "Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "ydzJCmMJ9iELJUJ5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        768,
        -128
      ],
      "id": "936d1736-2422-4344-9019-6e7cff5dc239",
      "name": "Respond to Webhook",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ac114ab-2b53-4dec-b78f-af8321a14c6a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -128
      ],
      "id": "4dfd9017-a746-4bae-a12b-9b610d1ac18c",
      "name": "Webhook",
      "webhookId": "5ac114ab-2b53-4dec-b78f-af8321a14c6a",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## ИИ-ассистент",
        "height": 599,
        "width": 1216,
        "color": 5
      },
      "id": "e26e7f62-3e33-4f6a-8793-546bbf9501bd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "140e792f-edfa-445b-b0a0-48f91d3cf8d6",
              "name": "reply",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -128
      ],
      "id": "c596c8d0-4fbb-4730-813d-0085655be956",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/163Nb8s7o0vzbkN90RGTeo87HaX33wTruJnKVet7QqNc/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        352,
        64
      ],
      "id": "1a075658-b69a-46c8-880a-711aa1cec9bd",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SWQPmbo88P8X8M5e",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.user-agent }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        64
      ],
      "id": "2382299d-a3cc-4a19-a89f-e3dc9880afce",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Analyst": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36a55a26-2c55-4666-82c9-5aac7fb71faf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26c5842d3eab586061583911d6ea14be4f6b71b1cf87cac6725b49e9c181b7da"
  },
  "id": "Ml10pneuYIMk9yzq",
  "tags": []
}